{% extends 'base.html' %}
{% load static %}

{% block slideshow %}
<div class="slideshow-container">
    <div class="slide active">
        <img src="{% static 'images/ban.webp' %}" alt="Slide 1">
    </div>
    <div class="slide">
        <img src="{% static 'images/ban2.webp' %}" alt="Slide 2">
    </div>
    <div class="slide">
        <img src="{% static 'images/ban3.webp' %}" alt="Slide 3">
    </div>
    <!-- Navigation buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots for slideshow -->
<div style="text-align:center; margin-top:10px;">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>
{% endblock %}

{% block content %}
<section class="container hero">
    <h1>Vitajte na Foodsy!</h1>
    <p>Objednajte si svoje obľúbené jedlá online z pohodlia domova. Čerstvé suroviny, rýchle doručenie a široký výber pre každú chuť.</p>
    <a href="{% url 'products:kategorie_list' %}" class="button">Prejsť na ponuku</a>
</section>

<section class="container featured-products">
    <h2>Cenové trháky</h2>
    {% if featured_products %}
        <div class="product-carousel">
            {% for product in featured_products %}
                <div class="product-card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="info">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }} €</p>
                        <a href="{% url 'products:product_detail' product.id %}" class="button">Detail</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Momentálne nie sú k dispozícii žiadne odporúčané produkty.</p>
    {% endif %}
</section>
{% endblock %}
