{% extends 'base.html' %}

{% block content %}
<h2>Prihlásenie</h2>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="username">Používateľské meno:</label>
        <input type="text" name="username" required id="username">
    </div>
    <div>
        <label for="password">Heslo:</label>
        <input type="password" name="password" required id="password">
    </div>
    <button type="submit">Prihlásiť sa</button>
</form>

<p>Nemáš účet? <a href="{% url 'register' %}">Zaregistruj sa tu</a>.</p>
{% endblock %}
